@import "~/variables";

$albumDimension: 125;

.current-title-layout {

	.dark-theme & {
		background-color: material-color('Grey', '800');
		color: white;
	}
	.light-theme & {
		background-color: material-color('Grey', '300');
	}

	padding: 5;

	#album-image {
		width: $albumDimension;
		height: $albumDimension;
	}

	.playlist-icon,
	#settings-icon {
		vertical-align: middle;
		text-align: center;
	}

	.track-title,
	.track-album {
		text-align: center;

		.dark-theme & {
			color: material-color('White');
		}
		font-size: 20rem;
	}

	.chevron {
		text-align: right;
	}

}

Label.icon {
	// padding: 10;
	// background: blue;
	min-height: 30;
	min-width: 40;
}

StackLayout.list-group-item-selected * {
	.light-theme & {
		background-color: material-color('Grey', '100');
	}
	.dark-theme & {
		background-color: material-color('Grey', '700');
		
		Label.artist-name, Label.title, Label.duration {
			color: material-color('Blue Grey', '100');
		}
	}
}

StackLayout.list-group-item-disabled * {
	.light-theme & {
		// background-color: material-color('Grey', '100');
		Label.artist-name, Label.title, Label.duration {
			color: material-color('Grey', '800');
		}
	}
	.dark-theme & {
		// background-color: material-color('Grey', '700');
		
		Label.artist-name, Label.title, Label.duration {
			color: material-color('Grey', '700');
		}
	}
	
	.icon {
		.light-theme & {
			color: material-color('Grey', '800');
		}
		.dark-theme & {
			color: material-color('Grey', '700');
		}
	}

}

.right-action-icon {
	margin-left: 20;
	text-align: right;
	
	&.liked {
		.light-theme & {
			color: material-color('Green', '800');
		}
		.dark-theme & {
			color: material-color('Green', '700');
		}
	}
}

.disliked {
	.light-theme & {
		color: material-color('Red', 'A700');
	}
	.dark-theme & {
		color: material-color('Red', '800');
	}
}

.music-controller, .music-buttons {
	text-align: center;
	width: 100%;
	.dark-theme & {
		background-color: material-color('Grey', '800');
		color: white;
	}
	.light-theme & {
		background-color: material-color('Grey', '300');
	}
}

.music-timeline {
	height: 35;
}

#current-time {
	margin-left: 10;
}

#total-time {
	margin-right: 10;
}

#timelineProgress {
	padding-left: 10;
	padding-right: 10;
	margin-left: 10;
	margin-right: 10;
	
}
 
.music-timeline Label {
	vertical-align: center;
}

.music-buttons {
	horizontal-align: center;
}

.music-buttons .icon {
	/* background-color: blue; */
	font-size: 30rem;
	padding: 10;
	margin: 0 5 20 5;
	width: 75;
}
