.list-group-item Image {
    width: 75;
    height: 75;
    border-radius: 50%;
	margin-right: 20;
}

.list-group-item .status {
	text-align: right;
}

.swipe .icon {
	color: white;
	font-size: 30rem;
}

StackLayout.search-friend {
	margin: 5 20;
	border-radius: 30;
	padding-left: 20;
	padding-right: 20;
	height: 50;
	border-width: 1;
	opacity: 0.8;
	border-color: #E0E0E0;
	color: black;
	/* line-height: 50; */
	background-color: transparent;
}

StackLayout.search-friend Label {
	width: 5%;
	vertical-align: middle;
}

StackLayout#search-layout {
	position: 0 -100;
}

StackLayout.search-friend TextField {
	width: 90%;
}
