.social-network {
	height: 75;
	margin-top: 15;
}

.icon {
	font-size: 50rem;
	font-weight: normal;
}

.icon, .icon + Label {
	vertical-align: middle;
	margin-left: 20;
	margin-right: 20;
	padding: 10;
}

.icon + Label {
	font-size: 20rem;
}

.google {
	background-color: #DE4B39;
	color: white;
}

.deezer {
	background-color: #404054;
	color: white;
}
