@import '~/variables';

.remove-icon {
	margin-left: 10;
	padding: 10;
}

.artist-name {
	.light-theme & {
		color: material-color('Grey', '600');
	}
	.dark-theme & {
		color: material-color('Grey', '500');
	}
}

.disabled {
	Label.icon {
		.light-theme & {
			color: material-color('Black');
		}
		.dark-theme & {
			color: material-color('Grey', '800');
		}
	}
}