﻿@import 'variables';

.light-theme {
	@import '~nativescript-theme-core/scss/light';
	
	$side-drawer-header-background: material-color('Grey', '300');
	
	@import '~nativescript-theme-core/scss/index';
}

.dark-theme {
	@import '~nativescript-theme-core/scss/dark';
	
	$ab-background: material-color('Grey', '1000');
	$background: material-color('Grey', '900');
	$side-drawer-header-background: material-color('Grey', '900');

	@import '~nativescript-theme-core/scss/index';
}

.sidedrawer-header Label, .sidedrawer-buttons Label, .sidedrawer-footer Label {
	.dark-theme & {
		color: material-color('Grey', '300');
	}
}

.sidedrawer-parameters-layout Label {
	line-height: 30rem;
	font-size: 30rem;
	vertical-align: center;
}

.sidedrawer-parameters-text {
	margin-left: 10;
}

.sidedrawer-header {
	height: 20%;
}

.sidedrawer-footer {
	height: 10%;
}

.rounded {
	width: 150;
	height: 150;	
	border-radius: 100%;
}

.hidden {
	visibility: collapse;
}

.action-bar-confirm-icon {
	padding-right: 20;
}

.icon {
	font-family: 'icomoon';
	font-size: 20rem;
	
	.light-theme & {
		color: material-color('Black');
	}
	.dark-theme & {
		color: material-color('Grey', '300');
	}
}

.sidedrawer-header Image {
	border-radius: 50%;
	width: 100;
	height: 100;
}

.sidedrawer-header Label {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25;
	font-size: 15rem;
}

.sidedrawer-buttons {
	margin-top: 10;
}

.sidedrawer-button {
	text-align: left;
	background-color: transparent;
	margin-left: 30;
	margin-top: 10;
	/* color: white; */
	font-size: 30rem;
}

.sidedrawer-parameters-button {
	text-align: left;
	background-color: transparent;
	margin-left: 30;
	/* color: white; */
	font-size: 30rem;
}
.sidedrawer-parameters-button Label {
	display: inline-block;
	vertical-align: text-bottom;
}


.fab-button {
	height: 70;
	width: 70;
	margin: 25;
	horizontal-align: right;
	vertical-align: bottom;

	.light-theme & {
		background-color: material-color('Indigo', '300');
	}
	.dark-theme & {
		background-color: material-color('Blue Grey', '500');
	}
}

.floating-button {
	height: 70;
	width: 70;
	left: 0;
	top: 90%;
}

.btn {
    font-size: 18;
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}

.grey-3 {
	background: #eeeeee;
}

.grey-4 {
	background: #E0E0E0;

}

.grey-5 {
	background: #BDBDBD;
}

.grey-7 {
	background-color: #757575;
}

.facebook {
	background: #6d84b4;
	color: white;
}

.blue-11 {
	background-color: #82b1ff;
	color: white;
}

.blue-12 {
	background-color: #2979ff;
	color: white;
}

.red-13 {
	background-color: #d50000;
	color: white;
}

.red-12 {
	background-color: #ff1744;
	color: white;
}

.green-6 {
	background-color: #00897B;
	color: white;
}

.green-12 {
	background-color: #2E7D32;
	color: white;
}



.blue-button {
	color: white;
	
	.light-theme & {
		background-color: material-color('Blue', 'A400');
	}

	.dark-theme & {
		background-color: material-color('Blue', '900');
	}
}

// .gold-button {

// }

/**** Search bar style */


StackLayout.search {
	margin: 5 20;
	border-radius: 30;
	padding-left: 20;
	padding-right: 20;
	height: 50;
	border-width: 1;
	opacity: 0.8;
	border-color: #E0E0E0;
	.light-theme & {
		color: material-color('Black');
	}
	.dark-theme & {
		color: material-color('Grey', '300');
	}
	/* line-height: 50; */
	background-color: transparent;
}

StackLayout.search Label {
	width: 5%;
	vertical-align: middle;
}

StackLayout#search-layout {
	position: 0 -100;
}

StackLayout.search TextField {
	width: 90%;
}


.delete-container {
	.light-theme & {
		background-color: material-color('Red', 'A700');
		color: material-color('White');
	}
	.dark-theme & {
		background-color: material-color('Red', '900');
		color: material-color('White');
	}
}

.add-container {
	.light-theme & {
		background-color: material-color('Green', '800');
		color: material-color('White');
	}
	.dark-theme & {
		background-color: material-color('Green', '700');
		color: material-color('White');
	}
}

.list-group-item {
	.light-theme & {
		background-color: material-color('White');
	}
	.dark-theme & {
		background-color: material-color('Grey', '900');
	}
}

StackLayout.list-group-item-selected * {
	.light-theme & {
		background-color: material-color('Grey', '100');
	}
	.dark-theme & {
		background-color: material-color('Grey', '800');
	}
}

.list-group-item Image {
    width: 75;
    height: 75;
    border-radius: 50%;
	margin-right: 20;
}

.list-group-separator {

	.light-theme & {
		height: 2px;
		background-color: material-color('Grey', '200');
	}

	.dark-theme & {
	}

}

.swipe .icon {
	color: white;
	font-size: 30rem;
}

/****/


/* ***** Loader *****/

.loader {
	width: 75;
	height: 75;
}

/* ******** */