@import "~/variables";

.profileImage {
    width: 150;
    height: 150;
    border-radius: 100%;
	margin-top: 20;
}

.user-data-layout {
	padding: 15;
	margin-top: 30;
}

.user-data {
	margin-top: 15;
	font-size: 17;

	.dark-theme & {
		color: material-color('White');
	}
}

.label {
	/* margin-right: 30; */
	width: 40%;
	vertical-align: middle;
}