<script src="/javascript/events.js"></script>
<h1>{{title}}</h1>
<h4>My events</h4>
<div id='eventsList' class="collection"></div>
<h4>DJ <i class="fa fa-headphones"></i></h4>
<div id='djEventsList' class="collection"></div>
<h4>Guest <i class="fa fa-eye"></i></h4>
<div id='guestEventsList' class="collection"></div>
<div id='noEvents'>You don't have any events. Download our app and create events today!</div>