<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.9.0/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>
<script src="/javascript/controllers/socketIO.js"></script>
<script src="/javascript/controllers/api.js"></script>
<script src="/javascript/controllers/deezer.js"></script>
<script src="/javascript/controllers/event.js"></script>
<script src="/javascript/controllers/eventOptions.js"></script>
<script src="/javascript/controllers/player.js"></script>
<script src="/javascript/controllers/playlistList.js"></script>
<script src="/javascript/controllers/trackList.js"></script>
<script src="/javascript/controllers/user.js"></script>
<script src="/javascript/event.js"></script>
<div id="bigContainer">
	{{!-- <h1 id="eventTitle">{{title}}</h1> // add the title next to Music Room? --}}
	<div class="drawer">
		<div id="eventPlaylists"></div>
		<div id="options"></div>
	</div>
	<div id="currentPlaylist">
		<div id="currentPlaylistAlreadyPlayed"></div>
		<div id="currentPlaylistUnplayed"></div>
	</div>
</div>
<div id="player">
	<div id="trackInfo">
		<img id="albumImage" src="" alt="">
		<div id="titles">
			<span id="trackTitle"></span>
			<span id="albumTitle"></span>
		</div>
	</div>
	<div id="trackActions">
		<div class="playerControls">
			<i id="playerPrev" class="fa fa-fast-backward" aria-hidden="true"></i>
			<i id="playerPlay" class="fa fa-play" aria-hidden="true"></i>
			<i id="playerNext" class="fa fa-fast-forward" aria-hidden="true"></i>
		</div>
		<div class="player-range-container">
			<span id="currentTrackTimePosition">00:00</span>
			<input id="player-range" type="range" value="0" step="any" min="0" max="100">
			<span id="currentTrackTotalTime">00:00</span>
		</div>
	</div>
</div>
<div id="dz-root"></div>
