<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	{{#if currentCssPage}}
	<link rel='stylesheet' href='/stylesheets/{{currentCssPage}}.css' />
	{{/if}}
	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css" />
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/png" href="/images/musicroomlogo.png" />
	<title>{{title}}</title>
</head>

<body class="grey darken-3">
	<nav class="grey darken-4">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo left">Music Room</a>
			{{#if logged}}
			<ul id="nav-mobile" class="right">
				<li><a href='/'>Home</a></li>
				<li><a href='/events'>Events</a></li>
				<li><a href='/logout'>Logout</a></li>
			</ul>
			{{/if}}
		</div>
	</nav>
	<div class="container">
		{{{body}}}
	</div>
</body>

</html>
