
<script src="javascript/login.js"></script>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId            : '335219297115348',
			autoLogAppEvents : true,
			xfbml            : true,
			version          : 'v3.3'
		});
	};
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<div class="row center-align">
	<form class="col s6 offset-s3 card grey darken-2" action="/login" method="POST">
		<h1>{{title}}</h1>

		<div class="input-field col s10 offset-s1">
			<input id="email" name="email" type="email" class="validate grey darken-2" required>
			<label for="email">Email</label>
        </div>

		{{#if error}}
		<div class="input-field col s10 offset-s1 error-field red-text text-darken-1">
			<span>{{error}}</span>
		</div>
		{{/if}}
		

		<div class="input-field col s10 offset-s1">
			<input id="password" name="password" type="password" class="validate" required>
			<label for="password">Password</label>
        </div>

		<div class="login-button input-field col s10 offset-s1" for="submit">
			<button class="col s12 waves-effect waves-light btn" type="submit" name="submit" value="Login">Login</button>
        </div>
		<div class="login-button input-field col s10 offset-s1">
			<button class="col red darken-1 s12 waves-effect waves-light btn" type="submit" name="submit" value="Signup">Signup</button>
        </div>
		<div class="login-button input-field col s10 offset-s1">
			<button class="col s12 waves-effect waves-light btn" type="button" id="loginWithFacebookButton" value="Facebook">Login with Facebook</button>
        </div>

		{{#if notif}}
		<script>
			window.notificationMessage = '{{notif}}';
		</script>
		{{/if}}
	</form>
</div>
