@import '~/variables';

#playlistName {
	.dark-theme & {
		placeholder-color: material-color('White');
	}
}

.field {
	.light-theme & {
		background-color: material-color('Grey', '100');

		border-width: 0 0 3 0;
		border-color: material-color('Grey', '300');
	}

	.dark-theme & {
		background-color: material-color('Grey', '800');
		Label, TextField {
			color: material-color('White');
		}
		border-width: 0 0 3 0;
		border-color: material-color('Grey', '900');
	}
	

	padding-top: 10;
	padding-bottom: 10;
}

#playlistSortingType {
	.dark-theme & {
		color: material-color('White');
		background-color: material-color('Grey', '800');
	}
}

.field > *, TextField {
	margin-left: 30;
	margin-right: 30;
}

.title {
	font-size: 15rem;
	font-weight: bold;
	margin-bottom: 30;
}

.sorting-type-dropdown {
	padding: 7 5 7 5;
    border-bottom-style: solid;
    border-bottom-width: 0.5;
    border-bottom-color: #808080;
}

@keyframes grow {
    from { transform: scaleY(0); }
    to { transform: scaleY(1); }
}

#error-message.display-error {
	animation-name: grow;
	animation-duration: 0.1s;
	visibility: visible;
}

#error-message {
	color:red;
	background-color: #33DD2C00;
	padding: 3;
	visibility: collapsed;
}
