Page {
	background-color: gray;
}

.main-layout {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.forgot-password {
	text-decoration: underline;
	text-align: center;
}

.main-image {
	width: 100%;
}

.login-form {
    width: 300;
    padding: 10 16;
    margin-bottom: 30;
}

.title {
    text-align: center;
    font-size: 50rem;
    margin-bottom: 30;
	margin-top: 30;
}

@keyframes grow {
    from { transform: scaleY(0); }
    to { transform: scaleY(1); }
}

.error-message.display-error {
	animation-name: grow;
	animation-duration: 0.1s;
	visibility: visible;
}

.error-message {
	color:red;
	background-color: #33DD2C00;
	padding: 3;
	visibility: collapsed;
}

ActivityIndicator {
	width: 100;
}

.loading {
	opacity: 0.5;
}