.fa.fa-trash
	height: 20px
	width: 20px
	float: right
	vertical-align: middle
	display: flex
	justify-content: center
	align-items: center
	
	&, &:before
		transition: all 0.1s linear

	&:hover
		font-size: large

.collection a.collection-item.eventsListItem
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between

#eventsList .eventsListItem:hover,
#djEventsList .eventsListItem:hover,
#guestEventsList .eventsListItem:hover
	background: #9e9e9e!important

#noEvents
	font-size: large
	text-align: center