body
	overflow-y: hidden
	
h1
	text-align: center

.container
	all: unset

.container, #bigContainer
	margin: 0!important
	height: calc(100% - 65px)

#bigContainer
	display: flex

body #toast-container
	top: 12px
	right: 12px

#currentPlaylist
	overflow-y: auto
	margin-bottom: 8%
	flex-grow: 1

	#currentPlaylistAlreadyPlayed, #currentPlaylistUnplayed
		-webkit-touch-callout: none
		-webkit-user-select: none
		-khtml-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none

		> div.track
			padding: 10px
			border-bottom: solid 1px #484848

		.track
			display: flex
			align-items: center
			cursor: pointer

			&.currentTrack
				background: #909090
			&.disabled
				opacity: 0.3
				background: #909090

			> span
				margin-left: 20px
				margin-right: 20px
			span span
				font-family: Roboto
			.title
				width: 30%
			.album-title
				width: 25%
			.artist
				width: 25%
			.time
				width: 10%

			.left-vote-icon, .right-vote-icon
				width: 5%
				min-width: max-content
			.right-vote-icon
				text-align: right

#dzplayer
	width: 0!important	// WTF Deezer
	height: 0!important	// WTF Deezer

#player
	position: fixed
	bottom: -100px
	width: 100%
	box-sizing: border-box
	display: flex
	flex-direction: row
	align-items: center
	height: 100px
	background: grey
	padding: 10px
	transition: bottom 0.2s ease-out

	&.showPlayer
		bottom: 0

	#trackInfo
		width: 25%
		display: flex

		#titles
			flex-grow: 1
			display: flex
			justify-content: center
			flex-direction: column
			max-width: 75%

			#trackTitle, #albumTitle
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				font-size: 1.5rem
				padding: 2px

			#trackTitle
				border-bottom: darken(grey, 10) 1px solid

		#albumImage
			width: 70px
			height: 70px
			margin-right: 10px

			&[src='']
				visibility: hidden

	#trackActions
		display: flex
		flex-direction: column
		flex-grow: 6
		align-items: center

		.playerControls
			display: none
			justify-content: center
			width: 50%

			&.showControls
				display: flex

		.fa
			margin-left: 20px
			margin-right: 20px
			font-size: 2rem
			cursor: pointer
			transition: color 0.05s linear

			&:hover, &:active, &focus
				color: #26a69a

	.player-range-container
		width: 100%
		display: flex
		justify-content: center
		align-items: center

		span
			margin-left: 20px
			margin-right: 20px
			vertical-align: middle

		#player-range
			width: 100%
			border: none

			&.disabled
				pointer-events: none
				user-select: none
				&[type=range]
					pointer-events: none
				&[type=range]::-webkit-slider-thumb
					pointer-events:auto

			&:focus, &:focus
				outline: 0
				border: 0

.drawer
	min-width: 300px
	height: 100%
	display: flex
	flex-direction: column
	background: #212121
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)
	
	#eventPlaylists
		display: flex
		flex-direction: column
		width: 100%
		text-align: left

		h5:first-child
			padding-left: 10px

		.playlist
			background: #424242
			padding: 10px
			border-bottom: solid white 1px
			-webkit-user-select: none
			-moz-user-select: none
			-khtml-user-select: none
			-ms-user-select: none

		.playlist:hover
			cursor: pointer

	#options
		height: 15%
		padding: 10px
		display: flex
		align-content: center
		justify-content: space-evenly
		flex-direction: column

.hidden
	visibility: hidden