div.container
	height: 100%
	margin-top: 10%
	
	h1
		text-align: left
		margin-top: 20px
		margin-left: 20px

	.login-button
		margin-bottom: 5px
		margin-top: 5px
	
	.login-button:last-child 
		margin-bottom: 1rem
		button
			background-color: #3B5998

	input
		&[type="email"], &[type="password"], &[type="submit"]
			color: white
	
	.error-field
		text-align: left
		margin-top: 0
		margin-bottom: 0

body #toast-container
	top: 12px
	right: 12px