body, html {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important; }

body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif, "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #F0F0F0; }

.brand-logo {
  margin-left: 20px; }

a {
  color: #00B7FF;
  margin: auto; }

hr {
  width: 1px;
  height: 1050px; }

.header {
  background-color: #303030;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start; }

.error {
  background-color: #503030; }

.notification {
  background-color: #305030; }

#EventList {
  display: flex;
  flex-direction: column; }

.fa-trash {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */