@import '~/variables';

.category {
	font-size: 16rem;
	padding: 5;
	margin: 5;
}

.parameter {
	padding-top: 5;
	padding-bottom: 5;
	margin-bottom: 5;

	.dark-theme & {
		background-color: material-color('Grey', 800);
	}

	Label, TextField {
		.dark-theme & {
			color: material-color('Grey', '300');
		}	
	}
}

TextField {
	font-size: 14rem;
	.dark-theme & {
		color: white;
		placeholder-color: white;
	}
}

.parameter .title {
	padding-left: 10;
}

.parameter .value {
	width: 100%;
}

.parameter .text, .parameter .privacy {
	padding-left: 15;
}

.parameter .title {
	font-size: 15rem;
	font-weight: bold;
}

.parameter .icon {
	opacity: 0.8;
	color: #757575;
	width: 30;
	vertical-align: middle;
}

.parameter StackLayout {
	margin-top: 10;
}

#emailValueLabel {
	.dark-theme & {
		opacity: 0.25;
	}

	.light-theme & {
		opacity: 0.5;
	}
}
